<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhut.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zhut.user.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="nickname" property="nickname"/>
        <result column="avatar" property="avatar"/>
        <result column="status" property="status"/>
        <result column="register_source" property="registerSource"/>
        <result column="oauth_provider_id" property="oauthProviderId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, username, password, email, phone, nickname, avatar, status, 
        register_source, oauth_provider_id, create_time, update_time, last_login_time
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        WHERE id = #{id}
    </select>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        WHERE username = #{username}
    </select>

    <select id="selectByEmail" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        WHERE email = #{email}
    </select>

    <select id="selectByPhone" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        WHERE phone = #{phone}
    </select>

    <select id="selectByAccount" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        WHERE username = #{account} OR email = #{account} OR phone = #{account}
    </select>

    <select id="selectByOauthProviderId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM user
        WHERE oauth_provider_id = #{oauthProviderId}
    </select>

    <insert id="insert" parameterType="com.zhut.user.entity.User">
        INSERT INTO user (
            id, username, password, email, phone, nickname, avatar, status,
            register_source, oauth_provider_id, create_time, update_time
        ) VALUES (
            #{id}, #{username}, #{password}, #{email}, #{phone}, #{nickname}, #{avatar}, #{status},
            #{registerSource}, #{oauthProviderId}, NOW(), NOW()
        )
    </insert>

    <update id="update" parameterType="com.zhut.user.entity.User">
        UPDATE user
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="status != null">status = #{status},</if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateLastLoginTime">
        UPDATE user
        SET last_login_time = NOW()
        WHERE id = #{id}
    </update>

</mapper>